Source: ruby-torquebox-no-op
Section: ruby
Priority: optional
Maintainer: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Uploaders: Balasankar C <balasankarc@autistici.org>
Build-Depends: debhelper (>= 7.0.50~),
               gem2deb,
               rake,
               ruby-rspec
Standards-Version: 3.9.6
Vcs-Git: git://anonscm.debian.org/pkg-ruby-extras/ruby-torquebox-no-op.git
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-ruby-extras/ruby-torquebox-no-op.git
Homepage: http://torquebox.org/
Testsuite: autopkgtest-pkg-ruby
XS-Ruby-Versions: all

Package: ruby-torquebox-no-op
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ruby | ruby-interpreter,
         ${misc:Depends},
         ${shlibs:Depends}
Description: emulate TorqueBox APIs outside of TorqueBox
 This gem allows you to run some TorqueBox applications outside of TorqueBox by 
 emulating the APIs provided by TorqueBox. Its primary goal is to enable simple 
 testing of applications that use TorqueBox APIs without having to test those 
 applications inside TorqueBox itself.
